<%- include ('./Templates/header.ejs') %>
<main>
    <h2>Listes des publications</h2>
    <% publications.forEach((p) => { %>
        <section>
            <h3><%= p.title %></h3>
            <p><%= p.content %></p>
            <p><small><%= new Date(p.createAt).toLocaleDateString() %></small></p>
            <% if(idUserOwner === p.id_user) { %>
                <a href="/publication?id_publication=<%= p.id %>">Supprimer mon post</a>
            <% } %>
        </section>
    <% }) %>
    <button type="button"><a href="/publication/create">Nouvelle Publication</a></button>
</main>
<%- include ('./Templates/footer.ejs') %>